[submodule "blog/Cpp_Crash_Course"]
	path = blog/Cpp_Crash_Course
	url = https://github.com/nuhaadhmahid/Cpp_Crash_Course
[submodule "blog/Parallel_Cpp"]
	path = blog/Parallel_Cpp
	url = https://github.com/nuhaadhmahid/Parallel_Cpp.git
